.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.defs{
  height: 500px;
  width: 500px;
  border-color: grey;
  border-style: solid;
  margin:auto;
}

.term{
  background:white;
  padding:.6em;
  margin: .6em;
  border-style:solid;
  color:black;
  border-radius: 25px;
  text-align: center;
}

.buttons button{
  margin-top: 2em;
  position: relative;
  background: white;
  color: black;
  border-radius: 25px;
  padding: 1em;
  width: 7em;
  font-size: 1.01em;
}

input{
  position: relative;
  background: white;
  color: black;
  border-radius: 25px;
  padding: .5em;
  font-size: 1.001em;
}

.counter{
  margin-top: 2em;
}

.incorrect{
  color:red;
}

